#header{
    background: var(--glow-1);
    position: static !important;
    
    border: dashed;

}
#header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, transparent 10%, var(--color-primary) 100%);
}
#header .container *{
    text-align: left;
}
#header .container{
    padding-top: 30px;
}

/*

#header .container .row .column:first-child{
    border: dashed;
    flex: 1;
}

#header .image_container{
    border: dashed;
    width: 100%;
    max-width: 450px;
    margin: auto;
    overflow: hidden;
    border-radius: var(--radius-2);
    transition: var(--transition);
}*/
#header .container > .row {
    display: flex;
    gap: 40px;
    justify-content: space-between; /* Ensures space between left and right content */
    align-items: center; /* Vertically aligns the items */
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

#header .container .row .column {
    flex: 1; /* Makes columns equal width */
   
}


#header .container .row .column:first-child {
    border-radius: var(--radius-3);
    background: rgba(225, 225, 225, 0.4);
    margin-bottom: 120px;
    text-align: left; /* Ensures text alignment on the left */
}

#header .container .row .column .description{
    color: var(--color-text);
}

#header .container .row .column:last-child {
    display: flex;
    justify-content: center; /* Center the image */
    align-items: center; /* Center the image vertically */
   
}
#header .container .buttons_container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

#header .image_container{
    position: relative; /* stacking context */
    z-index: 10; /* in front */
    background-color: rgba(255, 255, 255, .0); /* light white with transparency */
    border-radius: var(--radius-3); /* if you want rounded corners */
    overflow: hidden; /* so image doesn't overflow outside */
    padding: 2rem; /* adjust padding as needed */
     padding: 1rem;
     width: 100%;
     height: 35rem;
     margin-top: 0;
}

#header .image_container img {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    z-index: -1; /* send image behind */
    opacity: 0.1; /* faint image */
  }

#header .image_container:hover img{
    transform: scale(1.2);
  
}
@media (max-width:900px){
    #header .container *{
        text-align: center;
    }
    #header .container >.row{
        flex-direction: column;
    }
    #header .container .buttons_container{
        justify-content: center;
    }
}